
@keyframes planet3{
     form{bottom:0;}
     to{bottom:50px;}
}
@keyframes cloud1{
     form{opacity: 1;}
     to{opacity: 0.5}
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');

*{
    margin: 0;
    font-family: "Inter", sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    color:inherit ;
    text-decoration: none;
}
section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

#haupt{
    height: 100vh;
    background: url(img/bgMAIN.png);
    overflow: hidden;
   
}
.haupt-block{
    flex-direction: column;
    height: 100vh;
    
}
#about{
    background: url(img/bgABOUT.png);
    height: 100vh;

}
#skills{
    background: url(img/bgSKILLS.png);
    height: 100vh;

}
#works{
    background: url(img/bgWORKS.png);
    height: 100vh;
}
#comments{
    background: url(img/bgCOMMENTS.png);
    height: 100vh;
}
.haupt-block, .about-block, .skills-block, .works-block, .comments-block{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 70vh; */

}
.card{ 
   
    background: url(img/form1.png);
    width:874px;
    height:223px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0 auto 0 auto;
    z-index: 2;
}

menu{

    display: flex;
    flex-direction:row;
    justify-content:center;
    position: fixed;
    top: 0px;
    list-style: none;
    width:100% ;
    z-index: 100;
    background-color: #3e0d9442;
}
menu a:hover{
    background-color:#792AFF ;
}
menu a{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    padding: 10px;
    background-color: beige;
    color: #000000;
    text-decoration: none;
}
li{
    margin: 10px;
}



.maskot{
    height: 100px;
    width: 100px;
    margin-right: 600px ;
    margin-top: -100px;
}
.planet{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 113px;
    right: 10px;
   
 
}

.card h1{
    font-size: 50px;
    text-align: center;
}
.card p{
    position: relative;
    left: 340px;
    
}

.btn{
    width: 200px;
    height: 60px;
    border-radius: 100px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #BBFF2C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: 5px 5px #2b2d35;
    transition-duration:0.5s ;
    font-weight: bold;
    font-size: 20px;

}
.btn a{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}
.btn:hover{
    background-color:#97cd24 ;
    cursor: pointer;
    
    
}
.about-content{
   
    height: 270px;
    border-radius: 0px 0px 0px 20px;
    padding-left: 40px;
    padding-top: 40px;
    position: relative;
    display: flex;
    
}
.cloud{
   position: absolute;
   bottom: 0px;
    animation-name: cloud1;
    animation-duration: 4s;
    animation-iteration-count: infinite ;
    animation-direction: alternate;
}
.about-text{
    margin-top:30px ;
    height:220px;
    width: 370px;
    padding: 30px;
    background-color: #792AFF;
    border-radius: 0px 0px 0px 20px;
}
.about-card{
    background-image: url(img/form2.png);
    background-repeat: no-repeat;
    width: 376px;
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    position: relative;
}
.about-title{
    color: #fff;
    font-size: 20px;
    max-width: 463px;
    margin-bottom: 20px;
    font-family: 'Comfortaa';
}
.about{
    
    color: aliceblue;
    font-size: 80px;
    text-transform:uppercase;
    text-shadow: 5px 5px black;
    text-align: center;
}
.title{
    padding-top: 100px;
    text-align: center;
    color: #fff;
    font-size: 80px;
    text-shadow: 5px 5px 0 #000000;
}
.mini-title{
    color: #2b2d35;
    font-size: 80px;
    margin-top:70px;
    text-transform: uppercase;
}
.mini-subtitle{
    color:#2b2d35;
    font-size: 20px;
    font-family: "Comfortaa";
}

.muving-planet{ 
    animation-name: planet3;
    height: 100px;
    width: 100px;
    background-image:url("img/moving-planet.png") ;
    background-position:center ;
    background-size:cover ;
    position: absolute;
    bottom: 0;
    left: 10px;
    animation-duration: 2s;
    animation-iteration-count: infinite ;
    animation-direction: alternate;
}
.about11{
    background-color: #792AFF;
    width: 894px;
    height: 298px;
  
}

.about11 h1{
    color: aliceblue;
    font-size: 20px;
    padding: 50px 50px;
}
.about11 a{
    margin: -10px 50px;

}
.form2 h3{
    display: flex;
    justify-content: center;

}
.form2 img{
    width: 300px;
    height: 150px;
    margin: 50px 35px;
}
.skills-card{
    background-repeat: no-repeat;
    background-image: url(img/form3.png);
    width: 638px;
    height: 401px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.skills-card p{
    text-align: center;
    padding: 40px 0;
    font-size: 20px;
    font-weight: bold;
}
.works div{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding-top: 77px;
}
.work1{
    width: 400px;
    margin-right: 19px;
}
.work2{
    width: 400px;
    margin-right: 19px;
}
.work3{
    width: 400px;
}
.comments img{
    width: 150px;
    height: 150px;
}
.divPhotos{
    margin-left: 150px;
}
.divPhotoss{
    margin-left: 15px;
}
.divPhoto {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 35px ;
    background-color: #D2D0F7;
    background-image: url(img/form2.png);
    background-repeat: no-repeat;
    width: 212px;
    height: 294px;
    border-radius: 10px ;
   box-shadow: 5px  black;
    
}
.divPhoto h3{
    padding-top: 10px;
    padding-right: 50px;
}
.h33{
    margin-top:5px;
     padding-right: 60px;
}
.divPhoto p{
    padding-right: 60px;
    margin-top:14px ;
   line-height: 1.3em;
   color: #00000080;
}
.commenth1{
    margin-top: 0px;
    margin-left: 20px;
    border-radius: 2px;  
    background-image: url(img/comment.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 317px;
    height: 156px;  
}
.commenth1 p{

    padding: 10px 0px 0px 35px;
    line-height: 1.3em;
    color: #000000;
    font-size: 20px;
}
.comments{
    margin-top: 0px;
    display: flex;
    justify-content:start;
}
.jo{
    width: 200px;
    height: 180px;
    border-radius: 10px;
}
footer{
    width:100% ;
    height: 100px;
    background-color: #200153;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between ;

}
footer p{
    margin-left:60px ;
}
footer a{
    padding-right: 20px;
}
.active{
    background-color: #792AFF;
}
.li:hover{
    transform: translateY(3px);
  
}
.btn:hover{
    transform: translateY(3px);
}
.activeh{
    transform: translateY(3px);

}
.mobile-menu{
       display: none; 
}
.mobile-button{
    display: none;
}
.hide{
    display: none;
}
.hz{
    padding-top: 0px;
    background-color: #200153;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.mobile-btn{
    
    width: 210px;
    height: 50px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding-top: 5px;
    border: 3px solid#000000;
    border-radius: 10px;
    font-size: 37px;
    margin-bottom: 25px;
    
}
.off-scroll{
    overflow: hidden;
}
@media (max-width:1000px) {
    .menu {
        display: none;
    }
        .card {
            width: 320px;
        }
        
    .card h1 {
        font-size: 30px;
        padding-top:30px ;
    }
    .mini-subtitle{
        font-size: 15px;
    }
    .planet{
        display: none; /* что то  */
    }
    .about{
        font-size: 50px;
        padding-top: 30px;
    }
    .about-content{
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
    }
    .about-card{
        order: -1;
        padding-top: 20px;
        width: 380px;
        height: 296px;
    }
    .about-text{
        width: 320px;
        height: 296px;
    }
    .skills-card p{
        margin-top: 300px;
        font-size: 14px;
    }
    .skills-card .btn{
        margin-top: 216px;
        padding: 20px;
    }
     #skills title{
       margin-bottom: 40px;
      
    }
    .works div{
        flex-direction: column;
        padding-top: 30px;
    }
    .work1, .work2, .work3{
        width: 300px;
        margin-bottom: 18px;
    }
    .work3{
        margin-right: 19px;
    }
    .title{
        font-size: 50px;
    }
    .comments{
        flex-direction: column;
        align-items: center;
    }
    #comments{
        height: 110vh;
        
    }
    #comments .title{
        padding-top: 0px;
    }
    .divPhoto{
        height: 265px;
        font-size: 14px;
        
    }
    .divPhoto h3, .h33{
        font-size: 14px;
    }
    .commenth1 p{
        line-height: 15px;
        font-size: 14px;
        padding: 0;

    }
    .divPhoto p{
        margin-top: 10px;
        
    }
    .divPhoto, .commenth1{
        margin: 0 ;
        margin-bottom: 10px;
        width: 218px;
      
    }
    .commenth1{
        height: 74px;
        width: 198px;
        margin: 0;
        background-image: none;
        background-color: #fff;
        border-radius: 10px;
        border: 2px solid rgb(0, 0, 0);
        padding: 10px;
    }
    footer{
        height: 300px;
        justify-content: center ;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 0;
    }
    footer p{
        margin: 0;
        text-align: center;
    }
    .mobile-button{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        z-index: 2;
    }
   .mobile-button{
    display:block;
   }
}